.audio-bar {
    width: 100%;
    height: 48px;
    display: flex;
    background-color: aqua;
    position: sticky;
    bottom: 0;
}

.audio-bar button {
    height: fit-content;
    width: 24px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 12px;
    margin-left: 12px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.prev-track {
    background-image: url('../../assets/icons/backward-step-solid.svg');
    background-size: 16px;
}

.play-pause {
    background-size: 16px;
}

.next-track {
    background-image: url('../../assets/icons/forward-step-solid.svg');
    background-size: 16px;
}

.shuffle-track {
    background-image: url('../../assets/icons/shuffle-solid.svg');
    background-size: 16px;
}

.repeat-track {
    background-image: url('../../assets/icons/repeat-solid.svg');
    background-size: 20px;
}

.track-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.track-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.track-timeline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.track-progress {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

.progress-bar::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: rgb(146, 146, 146);
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

.track-progress:hover .progress-bar::-webkit-slider-thumb{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: #FF5500;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}