.audio-bar {
    width: 100%;
    height: 48px;
    display: flex;
    background-color: aqua;
}

.audio-bar button {
    height: fit-content;
    width: 24px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    margin-right: 12px;
    margin-left: 12px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.prev-track {
    background-image: url('../../assets/icons/backward-step-solid.svg');
}

.play-pause {
}

.next-track {
    background-image: url('../../assets/icons/forward-step-solid.svg');
}

.repeat-track {
    background-image: url('../../assets/icons/repeat-solid.svg');
}

.track-details {
    display: flex;
    flex-direction: column;

}