
.push {
    height: 48px;
}

.user-profile-container {
    width: 1275px;
    background-color: white;
    min-height: 100vh;
    margin-bottom: -48px;
}

.profile-page {
    width: 100%;
    height: 100%;
    margin: auto;

}

.profile-banner {
    width: 100%;
    height: 300px;
    background-color: aqua;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.track-banner {
    width: 100%;
    background-color: white;
    display: flex;
    height: 48px;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.banner-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.banner-tabs button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 2px solid transparent;
    margin: 27px 15px 15px 15px;
    font-size: 18px;
    cursor: pointer;
    padding-bottom: 10px;
}

.banner-tabs button:hover {
    border-bottom: 2px solid black;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}

.banner-tabs button:focus {
    color: #FF5500;
    border-bottom: 3px solid #FF5500;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}

.banner-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 52px;
}

.banner-buttons div {
    margin: 25px 5px 20px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-station {
    border: 1px solid lightgray;
    height: 24px;
    width: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.banner-share {
    border: 1px solid lightgray;
    height: 24px;
    width: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.banner-info {
    display: flex;
    background-color: transparent;
    height: 200px;
    width: 30%;
    position: absolute;
    top: 10%;
    justify-content: center;
    align-items: center;
}

.banner-info div {
    margin: 10px;
}

.bio-image {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120px 120px;
}

.bio-details div {
    background-color: rgb(39, 39, 39);
    color: white;
    text-align: center;
    padding: 10px;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.profile-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.profile-about-container {
    width: 30%;
    height: 100vh;
    border-left: 1px solid lightgray;
    margin-right: 20px;
    padding-left: 40px;
}

.profile-about-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.profile-about-socials > div {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 35px;
    border-left: 1px solid lightgray;
    padding-left: 10px;
}

.profile-likes {
    margin-top: 10px;
    margin-bottom: 5px;
}

.profile-follows {
    margin-top: 10px;
    margin-bottom: 5px;
}

.profile-tracks {
    margin-top: 10px;
    margin-bottom: 5px;
}