.profileDropdown {
    position: absolute;
    top: 40px;
    width: 135px;
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    padding-left: 3px;
    padding-right: 3px;
}

.profileDropdown a {
    width: 100%;
    justify-content: center;
    color: black;
    padding-left: 5px;
}

.sessionMenuItem {
    height: 50px;
    display: flex;
    align-items: center;
    transition: background 300ms;
}

.sessionMenuItem:hover {
    background-color: rgb(230, 230, 230);
}