.discover-container {
    width: 1275px;
    margin: auto;
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.discover-body {
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    margin-right: 10px;
}

.discover-body::-webkit-scrollbar {
    display: none;
}

.discover-side-panel {
    width: 30%;
    height: 100%;
    background-color: blueviolet;
}

