.discover-container {
    width: 1275px;
    margin: auto;
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.discover-body {
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    margin-right: 10px;
}

.discover-body::-webkit-scrollbar {
    display: none;
}

.discover-side-panel {
    width: 30%;
    height: 100%;
    border-left: 1px solid lightgray;
}

.side-panel-follow-header {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin: 32px 20px 20px 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid lightgray;
    color: gray;
}

.side-panel-follow-text1 {
}

.side-panel-follow-text2 {
    cursor: pointer;
}

.side-panel-likes-header {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin: 32px 20px 20px 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid lightgray;
    color: gray;
}

.side-panel-tracks-header {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin: 32px 20px 20px 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid lightgray;
    color: gray;
}