.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    background-color: #333333;
    width: 100vw;
    position: sticky;
    color: white;
    top: 0;
    z-index: 42;
}
 
.header { 
    width: 1275px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-start {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.header-start div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-feed {
    flex-grow: 2;
    border-right: 1px solid black;
}

.header-library {
    border-right: 1px solid black;
    flex-grow: 2;
    margin-right: 8px;
}

.header-home {
    flex-grow: 3;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 100%;
    display: flex;
}

.header-search {
    flex-grow: 1;
    margin-right: 15px;
}

.search {
    width: 100%;
}

.header-end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

.header-end div {
    flex-grow: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-plus {
    color: #FF5500;
}

.next-pro {
    color: #FF5500;
}

.header-icons {
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.header-bell {
    height: 20px;
    width: 20px;
    background-image: url('../../assets/icons/bell.svg');
    background-repeat: no-repeat;
    stroke: white;
}

.header-mail {
    height: 20px;
    width: 20px;
    background-image: url('../../assets/icons/mail.svg');
    background-repeat: no-repeat;
    stroke: white;
}

.header-options {
    width: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-profile {
    height: 100%;
    width: fit-content;
}

.header-upload {
    height: 100%;
}

