.options-dropdown {
    position: absolute;
    top: 35px;
    width: 95px;
    transform: translate(-34%);
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    padding-left: 3px;
    padding-right: 3px;
}

.options-dropdown a {
    width: 100%;
    color: black;
    padding-left: 5px;
}