.discover-slider-container {
    display: flex;
    width: 96%;
    flex-direction: column;
    position: relative;
    padding-bottom: 50px;
    margin-top: 10px;
    margin-left: 15px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.discover-slider {
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 19%;
    gap: 15px;
    overflow-x: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 20px;
    white-space: nowrap;
    position: relative;
    scroll-behavior: smooth;
}


.discover-slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-right: 15px;
}

.discover-slider-item-img {
    height: 165px;
    width: 110%;
    object-fit: cover;
    margin-top: 25px;
}

.discover-slider-item-title {
    margin-top: 15px;
}

.discover-slider-header {
    font-size: 25px;
    background-color: white;
    margin-top: 15px;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 15px;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

.slide-left, .slide-right {
    cursor: pointer;
    position: absolute;
    top: 47%;
    width: auto;
    padding: 14px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 12px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: azure;
    z-index: 51;
    border: 1px solid lightgray;
}

.slide-left:hover, .slide-right:hover {
    border: 1px solid #FF5500;

}

.slide-right {
    right: 0;
}